.main{
    border-radius: 20px;
    padding: 30px;
    margin: 20px auto;
}
.w-60{
    width: 60%;

}

.cards{
    background: rgb(40, 51, 110);
}

.text-mute{
    font-size: 24px;
    font-weight: 600;
    color: #6f6f86;

}